{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Biblioteca</title>

    <link rel="stylesheet" href="{% static 'livros/style.css' %}">
</head>

<body>
    <nav>
        {% if request.path == '/login/' %}
        <!-- Na página de login: só mostrar o link para cadastrar -->
        <a href="{% url 'register' %}" data-testid="register">Cadastrar</a>

        {% elif request.path == '/register/' %}
        <!-- Na página de cadastro: só mostrar o link para entrar -->
        <a href="{% url 'login' %}" data-testid="login">Entrar</a>

        {% else %}
        {% if user.is_authenticated %}
        {% if not user.is_staff %}
        {% if request.path == '/perfil/' %}
        <a href="{% url 'home' %}" data-testid="back">← Voltar</a>
        {% else %}
        <a href="{% url 'perfil' %}" data-testid="perfil">Minha Estante</a>
        {% endif %}
        {% else %}
        {% if request.path != '/cadastrar/' %}
        <a href="{% url 'cadastrar_livro' %}" data-testid="cadastrar">Cadastrar Livro</a>
        {% else %}
        <a href="{% url 'home' %}" data-testid="back">← Voltar</a>
        {% endif %}
        {% endif %}
        <a href="{% url 'logout' %}" data-testid="logout">Sair</a>
        {% else %}
        <a href="{% url 'login' %}" data-testid="login">Entrar</a>
        <a href="{% url 'register' %}" data-testid="register">Cadastrar</a>
        {% endif %}
        {% endif %}
    </nav>




    <hr>
    {% block content %}{% endblock %}

    {% block extra_modal %}{% endblock %}
    {% block extra_script %}{% endblock %}


</body>

</html>