{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Entrar</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuário</label>
        <input type="text" name="username" required>

        <label for="password">Senha</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>


<div class="form-container">
  <h3>Dados para teste</h3>
  <ul>
    {% for u in users %}
    <br>
    <li>
      <strong>Usuário {{ u.tipo }}:</strong><br>
      usuário: {{ u.usuario }}<br>
      senha: {{ u.senha }}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
