{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Biblioteca</title>

    <link rel="stylesheet" href="{% static 'livros/style.css' %}">
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        {% if not user.is_staff %}
        <a href="{% url 'perfil' %}">Perfil</a>
        {% else %}
        {% if user.is_authenticated and user.is_staff %}
        {% if request.path != '/cadastrar/' %}
        <a href="{% url 'cadastrar_livro' %}">Cadastrar Livro</a>
        {% endif %}
        {% if request.path == '/cadastrar/' %}
        <a href="{% url 'home' %}">Voltar</a>
        {% endif %}
        {% endif %}
        {% endif %}
        <a href="{% url 'logout' %}">Sair</a>
        {% else %}
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'register' %}">Cadastrar</a>
        {% endif %}
    </nav>

    <hr>
    {% block content %}{% endblock %}
</body>

</html>