{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Cadastrar Livro</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_title">Título</label>
        {{ form.title }}

        <label for="id_author">Autor</label>
        {{ form.author }}

        <label for ="id_isbn">ISBN</label> 
        {{ form.isbn }}

        <label for="id_capa">Capa</label>
        {{ form.capa }}

        <button type="submit">Cadastrar</button>
    </form>
</div>
{% endblock %}
