{% extends 'base.html' %}

{% block content %}
<h2>Lista de Livros</h2>

<ul class="grid">
  {% for book in books %}
    <li class="card">
      <strong>{{ book.title }}</strong>
      <small>{{ book.author }}</small>
      {% if user.is_authenticated %}
        <div class="card-actions">
          {% if book in user_books %}
            <span>✔ Já adicionado</span>
          {% else %}
            <a href="{% url 'add_to_profile' book.id %}" class="button">Adicionar</a>
          {% endif %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}
